* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #F5FAFE;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #fff;
}
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.navbar-top__menu-button {
  display: none;
}
.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}
.navbar-bottom {
  background-color: #0A223D;
}
.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.navbar-menu__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.logo {
  width: 177px;
}

.search {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 40px;
  border-radius: 6px;
}
.search__input {
  width: 350px;
  height: 100%;
  padding-left: 23px;
  padding-right: 75px;
  background-color: #F5FAFE;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.search__button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 65px;
  border: none;
  background-color: #EC1F46;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  padding: 18px 0;
  margin: 0;
  list-style-type: none;
}
.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}
.breadcrumb-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 2px;
}
.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}
.hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}
.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 0px;
}
.hotel-info__description {
  margin: 5px;
}
.hotel-name {
  font-size: 24px;
  line-height: 30px;
}
.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hotel-description {
  font-size: 12px;
  line-height: 15px;
}
.hotel-grid {
  display: flex;
  justify-content: space-between;
}
.hotel-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-slider {
  width: 728px;
  height: 450px;
}
.hotel-slider__item {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.hotel-slider__item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 122, 223, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
  z-index: 10;
}
.hotel-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}
.hotel-slider__button--next {
  right: 18px;
  background-image: url(../img/arrow-right.svg);
}
.hotel-slider__button--prev {
  left: 18px;
  background-image: url(../img/arrow-left.svg);
}

.stars {
  flex-basis: 100%;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: #EC1F46;
  border-radius: 3px;
  color: #fff;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  color: #fff;
  background-color: #EC1F46;
  border-radius: 4px;
}
.rating__text {
  font-size: 8px;
  line-height: 10px;
}
.rating__couneter {
  font-size: 14px;
  line-height: 18px;
}

.booking {
  background-color: #0A223D;
  color: #fff;
  border-radius: 8px;
  width: 350px;
  min-height: 210px;
  padding: 28px;
  font-family: "Nunito", sans-serif;
}
.booking__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}
.booking__price {
  display: flex;
  flex-direction: column;
}
.booking__start {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.booking__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.booking__per-room {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.booking__room {
  margin-top: 4px;
}
.booking__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
}
.booking__description {
  margin-left: 9px;
}
.booking__call-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}
.booking__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking__num {
  margin-left: 8px;
}
.booking__button {
  width: 100%;
  min-height: 45px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-color: #EC1F46;
  color: #fff;
  border: none;
  cursor: pointer;
}

.map {
  width: 347px;
  height: 213px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

.newsletter {
  padding: 98px 0 87px 0;
  background-image: url(../img/newsletter-bg.jpeg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.newsletter:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 34, 61, 0.8);
}
.newsletter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 731px;
  margin: auto;
}
.newsletter-title {
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.newsletter-title__strong {
  display: block;
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
  text-transform: uppercase;
}

.subscibe {
  position: relative;
  width: 350px;
  height: 55px;
  border-radius: 4px;
  overflow: hidden;
}
.subscibe__input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 33px;
  padding-right: 75px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.subscibe__button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  background-color: #EC1F46;
  color: #fff;
  min-width: 65px;
}

.reviews {
  padding: 40px 0 70px 0;
}
.reviews__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.reviews-slider__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  margin: 45px auto 0;
  width: 730px;
  padding: 0 62px 30px;
}
.reviews-slider__item:before {
  content: "";
  background-image: url(../img/quote-left.svg);
  background-repeat: no-repeat;
  width: 70px;
  height: 47px;
  position: absolute;
  top: 13px;
  left: 62px;
}
.reviews-slider__item:after {
  content: "";
  background-image: url(../img/quote-right.svg);
  background-repeat: no-repeat;
  width: 70px;
  height: 47px;
  position: absolute;
  top: 118px;
  right: 62px;
}
.reviews-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 99;
}
.reviews-slider__button--next {
  background-image: url(../img/reviews-arrow-next.svg);
  left: 0px;
}
.reviews-slider__button--prev {
  background-image: url(../img/reviews-arrow-prev.svg);
  right: 0px;
}
.reviews-slider__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
  margin-bottom: 30px;
}
.reviews-slider__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 9px;
}
.reviews-slider__username {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
  margin-bottom: 10px;
}
.reviews-slider__date {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 4px;
}
.reviews-slider__rating {
  display: flex;
  align-items: center;
}
.reviews-slider__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  margin: auto;
  max-width: 537px;
}

.activities {
  padding: 60px 0 98px 0;
}
.activities__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 57px;
}
.activities-wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 26px;
  width: 255px;
  height: 255px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  z-index: -1;
}
.card__image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
.card__title {
  margin-top: auto;
  margin-bottom: 18px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.card__button {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  padding: 7px 22px;
  border: none;
  background-color: #EC1F46;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  background-color: #0A223D;
  color: #fff;
  padding-top: 108px;
  padding-bottom: 46px;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(40px, -webkit-min-content);
  grid-auto-rows: minmax(40px, min-content);
  align-items: start;
}
.footer__logo {
  width: 166px;
  grid-row: 1/3;
  align-self: stretch;
}
.footer__categories {
  grid-row: 1/4;
}
.footer__social-links {
  display: flex;
  align-items: center;
  min-width: 83px;
  justify-content: space-between;
}
.footer__social-network {
  display: flex;
  align-items: start;
  grid-row: 2/4;
  grid-column: span 2;
}
.footer__contact-details {
  grid-column: span 2;
}
.footer__contact-form {
  grid-column: span 2;
}
.footer__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}
.footer__title--mb-3 {
  margin-bottom: 30px;
}
.footer__title--inline {
  margin: 0 43px 0 0;
}
.footer__item {
  display: flex;
  align-items: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
}
.footer__item--mb-2 {
  margin-bottom: 20px;
}
.footer__icon-wrapper {
  min-width: 40px;
  margin-right: 20px;
}
.footer__text {
  color: #BDBDBD;
  margin-bottom: 22px;
}
.footer__link {
  text-decoration: none;
  color: inherit;
}
.footer__input {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 0 23px;
  height: 50px;
  margin-bottom: 15px;
  flex-basis: 48%;
}
.footer__message {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 18px 23px;
  flex-basis: 100%;
  margin-bottom: 15px;
  width: 539px;
  height: 123px;
  resize: none;
}
.footer__button {
  min-width: 160px;
  min-height: 50px;
  padding: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
}
.footer__info {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hotel__slider {
    max-width: 590px;
  }
  .swiper-slider__image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card {
    width: 230px;
    height: 230px;
  }
  .footer__input {
    flex-basis: 100%;
  }
}
@media (max-width: 992px) {
  .container,
.newsletter-wrapper {
    max-width: 700px;
  }
  .logo {
    width: 132px;
  }
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar__search {
    margin-left: auto;
  }
  .navbar-menu {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .search__input {
    width: 340px;
  }
  .hotel-grid {
    flex-direction: column;
  }
  .hotel__slider {
    margin-bottom: 30px;
  }
  .hotel-right {
    flex-direction: row;
  }
  .hotel-slider {
    max-width: 100%;
  }
  .booking {
    width: 340px;
  }
  .map {
    width: 340px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }
  .card {
    width: 340px;
    height: 250px;
  }
  .activities-wrapper {
    flex-wrap: wrap;
  }
  .activities__card {
    margin-bottom: 20px;
  }
  .footer-wrapper {
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 40px;
  }
  .footer__input {
    flex-basis: 48%;
  }
  .footer__logo {
    grid-row: 1/2;
    grid-column: span 2;
  }
  .footer__social-network {
    grid-row: 1/2;
    grid-column: span 4;
    align-self: center;
  }
  .footer__categories {
    grid-row: 2/3;
    grid-column: span 2;
  }
  .footer__additional {
    grid-column: span 2;
  }
  .footer__legal {
    grid-column: span 2;
  }
  .footer__contact-details {
    grid-column: span 5;
    grid-row: 3;
  }
  .footer__contact-form {
    grid-column: span 5;
    grid-row: 4;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .navbar__search, .navbar-menu, .navbar__user {
    display: none;
  }
  .menu-button {
    display: flex;
    width: 16px;
    height: 11px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .stars {
    flex-basis: auto;
  }
  .hotel-name {
    flex-basis: 100%;
  }
  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    order: -1;
    margin-left: 0;
  }
  .hotel-right {
    flex-direction: column;
    min-height: 450px;
  }
  .hotel-slider {
    height: 350px;
  }
  .booking {
    width: 100%;
  }
  .map {
    width: 100%;
  }
  .newsletter-wrapper {
    flex-direction: column;
    max-width: 576px;
    width: 92%;
    align-items: flex-start;
  }
  .reviews-slider__button {
    top: 32px;
  }
  .reviews-slider__button--prev {
    right: 50%;
    margin-right: -65px;
    transform: translate(50%, 0);
  }
  .reviews-slider__button--next {
    left: 50%;
    margin-left: -65px;
    transform: translate(-50%, 0);
  }
  .reviews-slider__item {
    padding: 0 30px 30px;
  }
  .reviews-slider__item:after, .reviews-slider__item:before {
    display: none;
  }
  .activities {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .card {
    width: 49%;
    height: 255px;
  }
  .footer__input {
    flex-basis: 100%;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
  .hotel__slider {
    margin-bottom: 20px;
  }
  .hotel-slider {
    height: 250px;
  }
  .newsletter {
    padding: 76px 0 83px 0;
  }
  .newsletter-title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
  }
  .newsletter-title__strong {
    font-size: 30px;
    line-height: 38px;
  }
  .newsletter__title {
    margin-bottom: 37px;
  }
  .subscribe {
    max-width: 100%;
  }
  .reviews__title {
    font-size: 18px;
    line-height: 23px;
  }
  .reviews-slider__item {
    max-width: 300px;
  }
  .card {
    width: 100%;
  }
  .footer-wrapper {
    grid-template-columns: 1fr;
  }
  .footer__input {
    flex-basis: 100%;
  }
  .footer__logo {
    grid-row: 1;
    grid-column: 1;
  }
  .footer__social-network {
    grid-row: 2;
    grid-column: 1;
  }
  .footer__additional {
    grid-row: 3;
    grid-column: 1;
  }
  .footer__categories {
    grid-row: 4;
    grid-column: 1;
  }
  .footer__legal {
    grid-row: 5;
    grid-column: 1;
  }
  .footer__contact-details {
    grid-row: 6;
    grid-column: 1;
  }
  .footer__contact-form {
    grid-row: 7;
    grid-column: 1;
    max-width: 350px;
  }
}/*# sourceMappingURL=style.css.map */